# Node.js dependencies
node_modules

# Environment variables
.env
.env.development.local

# Production build output
dist

# Vercel-related configurations
.vercel

# Local development notes and other non-repo files
__notes
conception

uploads